extends ../layouts/default
block content
    include ../layouts/top-menu

    -function formatDate(dateString){
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}

    -function formatNumber(numberString){
        -var numero = parseInt(numberString);
        -return numero.toFixed(0);
    -}

    .row-fluid
        .span2
        .span8
            h1 Últimos comentarios

            -if (deals.length == 0)
                .well
                    p No tiene comentarios aún
            -else
                - for deal in deals
                    h3 #{deal.name}
                    table.table.table-bordered
                        thead
                            tr
                                th(width="80px") Fecha
                                th Comentario
                                th(width="240px") Valoración
                        tbody
                            - for comment in deal.comments
                                tr
                                    td #{formatDate(comment.writedAt)}
                                    td #{comment.description}
                                    td
                                        - for (var counter = 0; counter < 10; counter++)
                                            - if (counter < comment.rating)
                                                img(src="/img/rating.png")
                                            - else
                                                img(src="/img/rating-no.png")