extends ../layouts/default
block content
    include ../layouts/top-menu
    .row-fluid
        .span2
        .span8
            .well
                h1 Últimos comentarios
            - for deal in deals
                p Oferta: #{deal.name}
                table.table.table-bordered
                    thead
                        tr
                            th Fecha
                            th Comentario
                            th Valoración
                    tbody
                        - for comment in deal.comments
                            tr
                                td #{comment.writedAt}
                                td #{comment.description}
                                td #{comment.rating}