script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
script(type='text/javascript', src='/lib/angular-ui-utils/ui-utils.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-cookies.min.js')
script(type='text/javascript', src='/lib/angular-i18n/angular-locale_es-es.js')
script(type='text/javascript', src='/lib/angular-translate/angular-translate.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.min.js')

script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.min.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')

script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
script(type="text/javascript", src="/lib/angular-ui-map/ui-map.min.js")


script(type='text/javascript', src='http://dylanfprice.github.io/angular-gm/1.0.0/angular-gm.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
script(type='text/javascript', src='/utils/gertu-utils.js')
script(type='text/javascript', src='/gertu.min.js')