extends ../../../layouts/default
block content
    h1 Acceso al 치rea de mantenimiento
    form(action="/management/access/login", method="post", role="form")
        .form-group
            label Email
            input#email.form-control(type='email', name="email", ng-model="email", placeholder='Email', required)

        .form-group
            label Contrase침a
            input#password.form-control(type='password', name="password", ng-model="password", placeholder='Contrase침a', required)

        button.btn.btn-primary(type='submit') Acceder
        br
        br
        - if (endSession)
            div.alert.alert-success
                | La sesi칩n se ha cerrado correctamente
        - if (errorMsg)
            div.alert.alert-danger
                | #{errorMsg}