script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false')

script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/themes/shopmanagement/js/vendor/jquery-ui.min.js')

script(type='text/javascript', src='http://localhost:35729/livereload.js')
script(type="text/javascript" src="/themes/shopmanagement/app/app.js")