head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title Gertu
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

  link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
  link(rel='icon', href='/img/favicon.ico', type='image/x-icon')

  link(rel='stylesheet', href='/themes/shopmanagement/css/bootstrap.min.css')
  link(rel='stylesheet', href='/themes/shopmanagement/css/font-awesome.min.css')
  link(rel='stylesheet', href='/themes/shopmanagement/css/main.css')

  link(rel='stylesheet', href='/themes/shopmanagement/css/jquery-ui.min.css')

  script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')