nav.navbar.navbar-default
    div.navbar-header
        a.navbar-brand(href='/shopmanagement/dashboard') Área de tiendas de GERTU
    ul.nav.navbar-nav
        li
            a(href='/shopmanagement/deals/list') Listado de ofertas
        li
            a(href='/shopmanagement/profile/view') Perfil

    ul.nav.navbar-nav.navbar-right
        li
            a(href='/shopmanagement/logout') Cerrar sesión