.navbar.navbar-fixed-top
    .navbar
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            span.brand Área de tiendas
            .nav-collapse.collapse
              ul.nav
                li.active
                  a(href='/shopmanagement/dashboard')
                    i.icon-home.icon-black
                    | Inicio
                li
                  a(href='/shopmanagement/deals/list')
                    i.icon-user.icon-black
                    | Ofertas
                li
                  a(href='/shopmanagement/reservations/list')
                    i.icon-user.icon-black
                    | Reservas
                li
                  a(href='/shopmanagement/comments/list')
                    i.icon-user.icon-black
                    | Comentarios
                li
                  a(href='/shopmanagement/payments/list')
                    i.icon-user.icon-black
                    | Últimos pagos
              ul.nav.pull-right.settings
                li.dropdown
                  ul.dropdown-menu
                    li
                      a(href='/shopmanagement/profile/view') Perfil
                    li.divider
                    li
                      a(href='/shopmanagement/logout') Cerrar sesión
              ul.nav.pull-right.settings
                li
                  a.tip.icon.logout(href='/shopmanagement/profile/view', data-original-title='Settings', data-placement='bottom')
                    i.icon-large.icon-cog
                li.divider-vertical
                li
                  a.tip.icon.logout(href='/shopmanagement/logout', data-original-title='Logout', data-placement='bottom')
                    i.icon-large.icon-off
              ul.nav.pull-right.settings
                li.divider-vertical
              p.navbar-text.pull-right
                | Bienvenido/a,
                a.tip.icon.logout(href='/shopmanagement/profile/view')
                  strong #{currentShop.shopEmail}
              ul.nav.pull-right.settings
                li.divider-vertical