doctype html
html(lang='es')
  include ../includes/head
  body
    include ../templates/navbar
    div.bg
    div.main-container
      section.content
        section.container
          block content
      include ../includes/foot
    footer
      include ../templates/footer