doctype html
html(lang='es')
  include ../includes/head
  body
    include ../templates/navbar
    section.content
      section.container
        block content
    include ../includes/foot
    footer
      include ../templates/footer