doctype html
html(lang='es')
  include ../includes/head
  body(data-spy="scroll" data-target="#scrollTarget" data-offset="150")
    #globalWrapper.localscroll
      include ../templates/navbar
      block content
      footer
        include ../templates/footer
    include ../includes/foot
