extends layouts/default
block content
    h1 Dashboard
    .row
        .col-md-4
            p.well
                a(href='/management/deal-categories/list') Categorías
        .col-md-4
            p.well
                a(href='/management/currencies/list') Monedas
        .col-md-4
            p.well
                a(href='/management/shops/list') Tiendas
    .row
        .col-md-4
            p.well
                a(href='/management/users/list') Usuarios
        .col-md-4
            p.well
                a(href='/management/administrators/list') Administradores
        .col-md-4
            p.well
                a(href='/management/payments/list') Pagos
