extends layouts/default
block content
    h1 Dashboard
    .row
        .col-md-4
            p.well
                a(href='/management/deal-categories/list') Categorías
        .col-md-4
            p.well
                a(href='/management/deal-categories/list') Monedas
        .col-md-4
            p.well
                a(href='/management/administrators/list') Administradores  
