nav.navbar.navbar-default
    div.navbar-header
        a.navbar-brand Mantenimiento de GERTU
    ul.nav.navbar-nav
        li
            a(href='/management/deal-categories/list') Categorías de ofertas
        li
            a(href='/management/currencies/list') Monedas

    ul.nav.navbar-nav.navbar-right
        li
            a(href='/management/access/logout') Cerrar sesión
