nav.navbar.navbar-default
    div.navbar-header
        a.navbar-brand(href='/management/dashboard') Mantenimiento de GERTU
    ul.nav.navbar-nav
        li
            a(href='/management/deal-categories/list') Categorías de ofertas
        li
            a(href='/management/currencies/list') Monedas
        li
            a(href='/management/shops/list') Tiendas
        li
            a(href='/management/users/list') Usuarios
        li
            a(href='/management/administrators/list') Administradores
        li
            a(href='/management/payments/list') Pagos de tiendas

    ul.nav.navbar-nav.navbar-right
        li
            a(href='/management/access/logout')
                span Cerrar sesión&nbsp;
