extends ../layouts/default
block content
    h1 Categorías de las ofertas
        &nbsp;
        a.btn.btn-primary(href='/management/deal-categories/edit/0') Nueva categoría
    table.table.table-bordered.table-condensed
        thead
            tr
                th  Nombre
                th(width='80')  Eliminar
        each category in categories
            tr
                td
                    a(href='/management/deal-categories/edit/#{category._id}') #{category.name}
                td
                    a.btn.btn-danger(href='/management/deal-categories/remove/#{category._id}') eliminar