extends ../../../layouts/default
block content
    include ../includes/top-menu
    h1 Eliminar categoría

    form.form-inline(action="/management/deal-categories/remove/#{category._id}", method="post", role="form")
        p Desea elimianr la categoría #{category.name}
        a.btn.btn-default(href='/management/deal-categories/list') Volver
        &nbsp;
        input.btn.btn-danger(type='submit', value='Eliminar')
