doctype html
html.management(lang='es')
  include ../includes/head
  body
    include ../includes/top-menu
    section.content
      section.container
        block content
    include ../../../includes/foot
    footer
      include ../../../templates/footer