extends layouts/default

block content
  section(ng-view)
  alert.disp(ng-cloak,ng-repeat="alert in alerts",ng-click="alert.close()",type="alert.type", close="alert.close()") {{alert.msg}}
  script(type="text/javascript").
    window.user = !{user};