.modal-header(style="text-align: center")
  h1 ¡Gracias por realizar la reserva!
.modal-body(style="text-align: center")
  h3 Su número de reserva, el cual deberá proporcionar al empleado del comercio, es
  h2 {{reservation._id}}