div#header-wrap
  div#header
    .navigation.navbar.navbar-inverse.navbar-fixed-top(data-ng-controller='HeaderController', data-role="navigation")
      .navbar-inner
        .container
          ul.nav.navbar-nav
            li(data-ng-repeat='item in menu', ui-route='/{{item.link}}', ng-class='{active: $uiRoute}')
              a(href='/{{item.link}}') {{item.title}}
            ul.nav.navbar-nav.pull-right(data-ng-hide='global.authenticated')
              include signinform
            ul.nav.navbar-nav.navbar-nav.pull-right(data-ng-show='global.authenticated')
              li.dropdown(data-ng-show='global.user')
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | {{"WELCOME" | translate}} {{global.user.firstName}}
                  span(ng-show="!global.user.firstName")
                    {{global.user.email}}
                  b.caret
                ul.dropdown-menu
                  li
                    a(data-ng-href='/profile') {{"PROFILE" | translate}}
                  li
                    a(href='/api/v1/signout', target='_self') {{"SIGNOUT" | translate}}