header#mainHeader.navbar-fixed-top(data-ng-controller='HeaderController', role='banner')
  .container
    nav.navbar.navbar-default.scrollMenu(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
        a.navbar-brand(href='/')
          img(src='img/gertu_logo_head.png', alt='Gertu')
      #scrollTarget.collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.pull-left
          li(data-ng-repeat='item in menu', ui-route='/{{item.link}}', ng-class='{active: $uiRoute}')
            a(href='/{{item.link}}')
              i(class="{{item.class}}")
              |{{item.title | translate}}
        ul.nav.navbar-nav.pull-right(data-ng-hide='global.authenticated')
          include signinform
    ul.nav.navbar-nav.navbar-nav.pull-right(data-ng-show='global.authenticated')
      li.dropdown(data-ng-show='global.user')
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | {{"WELCOME" | translate}} {{global.user.firstName}}
          span(ng-show="!global.user.firstName")
            {{global.user.email}}
          b.caret
        ul.dropdown-menu
          li
            a(data-ng-href='/profile') {{"PROFILE" | translate}}
          li
            a(href='/api/v1/signout', target='_self') {{"SIGNOUT" | translate}}