section#contactSlice.slice
  .container
    .row
      .col-sm-12
        h1.noSubtitle {{'SIGNUP' | translate}}
      #signupform
        address
          | {{'FOR_FREE' | translate}}
          br
          | {{'GET_IN' | translate}}
          br
          | {{'DONT_HESITATE' | translate}}
          br

        form.contactfrm(name="signup_form", novalidate, action="api/v1/users", method="post")
          .form-group(ng-class="{'has-error': signup_form.email.$dirty && signup_form.email.$invalid}")
            input#email.form-control(type="email", name="email", ng-model="signup.email" ,placeholder="{{'EMAIL' | translate}}", ng-minlength=3, ng-maxlength=20 ,required)

          .form-group(ng-class="{'has-error': signup_form.password.$dirty && signup_form.password.$invalid}")
            input#password.form-control(type="password", name="password", placeholder="{{'PASSWORD' | translate}}", ng-model="signup.password", ng-minlength=6, ng-maxlength=20, required)

          .form-group(ng-class="{'has-error': signup_form.pwdcheck.$dirty && signup_form.pwdcheck.$invalid}")
            input#pwdcheck.form-control(type="password", name="pwdcheck", placeholder="{{'REPEAT_PASSWORD' | translate}}", ng-model="signup.pwdcheck", ng-minlength=6, ng-maxlength=20, required)

          .form-actions
            button.btn(type="submit",ng-disabled="signup_form.$invalid" ) {{'SIGNUP' | translate}}
              i.icon-flash

            a.btn.small-btn(target="_self" href='/shopmanagement/login')
              {{'I_AM_A_SHOP' | translate}}