.steps
  .col-md-3.step
    .step-img.step-1
    h2.step-title {{'STEP_FIND' | translate}}
    p.step-desc {{'STEP_FIND_DESC' | translate}}
  .col-md-3.step
    .step-img.step-2
    h2.step-title {{'STEP_RESERVE' | translate}}
    p.step-desc {{'STEP_RESERVE_DESC' | translate}}
  .col-md-3.step
    .step-img.step-3
    h2.step-title {{'STEP_REDEEM' | translate}}
    p.step-desc {{'STEP_REDEEM_DESC' | translate}}
  .col-md-3.step
    .step-img.step-4
    h2.step-title {{'STEP_ENJOY' | translate}}
    p.step-desc {{'STEP_ENJOY_DESC' | translate}}