.web-data
  .col-md-3.data-desc
    .icon.icon1
    .number {{dealcount}}
    .text  {{'ACTIVE_DEALS' | translate}}
  .col-md-3.data-desc
    .icon.icon2
    .number {{reservationcount}}
    .text  {{'RESERVED_DEALS' | translate}}
  .col-md-3.data-desc
    .icon.icon3
    .number {{usercount}}
    .text {{'ACTIVE_USERS' | translate}}
  .col-md-3.data-desc
    .icon.icon4
    .number {{shopcount}}
    .text  {{'ACTIVE_SHOPS' | translate}}
