<!DOCTYPE html>
<html style='background-color: #70B600'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bienvenido a Gertu</title>
</head>
<body style='width: 800px; margin: 20px auto; font-family: Arial; font-size: 12px; background-color: #a8e430;
			 padding: 20px; border-radius: 20px;'>
    <header style='font-size: 18px; font-weight: bold; text-align: center;'>
       GERTU
    </header>
    <section>
        <p>Estimado/a {{username}}:</p>
        <p><strong>¡¡Enhorabueba!!</strong> Acabas de realizar la reserva de la oferta {{dealname}}.</p>
        <p>Recuerda llevar tu código de reserva <strong>{{dealname}}</strong> al establecimiento para poder consumirla.</p>
        <p>Recibe un saludo y no dudes en contactar con nosotros para cualquier consulta que desees,</p>
        <p><strong><em>Equipo de desarrollo de Gertu</em></strong></p>
    </section>
    <footer style='font-size: 11px; font-style: italic; text-align: right;'>
        &copy; 2014 Todos los derechos reservados
    </footer>

    
</body>
</html>