<!DOCTYPE html>
<html style='background-color: #70B600'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bienvenido a Gertu</title>
</head>
<body style='width: 800px; margin: 20px auto; font-family: Arial; font-size: 12px; background-color: #a8e430;
			 padding: 20px; border-radius: 20px;'>
    <header style='font-size: 18px; font-weight: bold; text-align: center;'>
       GERTU
    </header>
    <section>
        <p>Estimado/a {{username}}:</p>
        <p>Te damos la más sincera bienvenida a Gertu, el lugar desde el que podrás acceder a las ofertas cercanas a tí, 
            y de los temas que te interesan.</p>
        <p>Se acabó recibir ofertas que están a muchos kilómetros de distancia y que ni siquiera son de temas que te 
            interesan. Ahora, las ofertas que te lleguen serán las que tú deseas recibir.
        <p>Porque para Gertu, lo más importante es acercar las ofertas a los usuarios, para que todos ganemos y
            podamos disfrutar de lo mejor en el momento en que queramos.</p>
        <p>Recibe un saludo y no dudes en contactar con nosotros para cualquier consulta que desees,</p>
        <p><strong><em>Equipo de desarrollo de Gertu</em></strong></p>
    </section>
    <footer style='font-size: 11px; font-style: italic; text-align: right;'>
        &copy; 2014 Todos los derechos reservados
    </footer>

    
</body>
</html>