extends ../layouts/default
block content
  include ../layouts/top-menu
  .row-fluid
    .span2
    .span8
      h2  ¿estas seguro que deseas eliminar esta oferta?
      p 
        strong Nombre de oferta: 
        | #{deal.name}
        p
          img(src="#{deal.image}")
        form(role="form", method="POST", action="/shopmanagement/deals/delete")
          input(type="hidden", value="#{deal._id}", name="id")
          a.btn.btn-danger.btn-lg(href="/shopmanagement/deals/list")
            | Cancelar
          input.btn.btn-success.btn-lg(type='submit', value='Eliminar')
