extends ../layouts/default
block content
  include ../layouts/top-menu
  .row-fluid
    .span2
    .span8
      h1 Eliminar oferta
      h2 ¿Está seguro que desea eliminar esta oferta?
      p
        strong Nombre de oferta:&nbsp;
        | #{deal.name}
        p
          img(src="#{deal.image}")
        form(role="form", method="POST", action="/shopmanagement/deals/delete")
          input(type="hidden", value="#{deal._id}", name="id")
          a.btn.btn-primary.btn-lg(href="/shopmanagement/deals/list")
            | Cancelar
          input.btn.btn-danger.btn-lg(type='submit', value='Eliminar')
