light-green   = #7DC24F
dark-green    = #609C00
dark-orange   = #FC6C00
light-orange  = #FCA860

.navbar
  background-color light-green
  gradient(color1: lighten(dark-green,5), color2: light-green)
  border 0
  .nav
    & > li
      & > a
        color darken(dark-green,5)
        &:hover
          color darken(dark-orange,5)
          transition(color,ease-in-out,.05s)
        &.brand
          padding-left 20px
          margin-left 0

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover
  background-color dark-green
  color light-orange

.navbar-nav.pull-right>li>
  .dropdown-menu
    background-color lighten(light-green,30)
    li>a:hover
      background-color dark-green
      color lighten(light-green,30)

.navbar-inverse .navbar-nav > .dropdown > a .caret
  margin-left 5px

form.signin
  margin-top 4px
  .form-group
    margin-right 4px


#scrollTarget
  padding 20px

.navbar-default .navbar-collapse, .navbar-default .navbar-form
  border-color: transparent

@media (min-width: 768px)
  nav
    width: 100%

@media (min-width: 992px)
  nav
    width: 95%


@media (min-width: 1200px)
  nav
    width: 90%

@media (max-width: 1226px) and (min-width: 768px) {
  #selector-icon-mail { display: none }
}

@media (max-width: 1034px) and (min-width: 768px) {
  #selector-icon-users { display: none }
}

@media (max-width: 856px) and (min-width: 768px) {
  #selector-icon-home-outline { display: none }
}





