form(action='login', method='post')
    label(for='email') Email
    br
    input(type='text', name='email', placeholder='Insert your email')
    br
    label(for='password') Pasword
    br
    input(type='password', name='password', placeholder='Insert your password')
    br
    input(type='submit', value='Log in')