h1 Acceso de comercios
.row
    .col-md-4
        form(action="/admin/login", method="post")
            .form-group
                input#email.form-control(type='email', required, name="email", ng-model="email", placeholder='Email')

            .form-group
                input#password.form-control(type='password', required, name="password", ng-model="password", placeholder='Contraseña')
            p
                button.btn.btn-primary(type='button', ng-click='doLogIn()') Acceder
        .alert.alert-danger(data-ng-show='errors')
            ul
                li(ng-repeat="error in errors") {{error | translate}}