form.signin.form-inline(action="/shop/login", method="post", role="form")
    .form-group
        input#email.form-control(type='text', name="email", ng-model="email", placeholder='Email')

    .form-group
        input#password.form-control(type='password', name="password", ng-model="password", placeholder='Contraseña')

    button.btn.btn-primary(type='button', ng-click='doLogIn()') Acceder
    p.well
        | {{errorMsg}}