h1 Pendiente confirmaci贸n
p
	| Le hemos mandado un email de confirmaci贸n a su correo, haga click en el
	| enlace incluido para que se active su cuenta.
p
	| Si desea que le reenviemos el email de ocnfirmaci贸n, haga click en el bot贸n:
input(type="button", ng-click="resendConfirmationMail();", value='Enviar de nuevo')