section(data-ng-controller='DealsController', data-ng-init='findOne()')
  .deal-view
    h1 {{deal.name}}
    p {{deal.created | date:'medium'}}
    p {{deal.shop.name}}
    p {{deal.price | currency:"&euro;"}}
    .btn-toolbar(role="toolbar")
      button.btn.btn-default.btn-sm(type='button')
        span.glyphicon.glyphicon-pencil
          a(data-ng-href="/admin/deals/edit/{{deal._id}}")| Editar
      a(href='#', data-ng-click="remove()")
        button.btn.btn-default.btn-sm(type='button')
          span.glyphicon.glyphicon-trash  Eliminar
            