extends ../../../layouts/default
block content
    h1 Eliminar moneda

    form.form-inline(action="/management/currencies/remove/#{currency._id}", method="post", role="form")
        p Desea elimianr la moneda #{currency.name}
        a.btn.btn-default(href='/management/currencies/list') Volver
        &nbsp;
        input.btn.btn-danger(type='submit',value='Eliminar')
