extends ../layouts/default
block content
    include ../layouts/top-menu
    .row-fluid
        .span2
            &nbsp;
        .span8
            .well
                h1 Dashboard
    br
    .row-fluid
        .span2
            &nbsp;
        .span4
            .well
                h2 Últimas ofertas
                ul
                    li Oferta 1
                    li Oferta 1
                    li Oferta 1
                    li Oferta 1
        .span4
            .well
                h2 Últimas valoraciones
                ul
                    li Valoración 1
                    li Valoración 1
                    li Valoración 1
                    li Valoración 1
        .span2
            &nbsp;