extends ../layouts/default
block content
  include ../layouts/top-menu
  .row-fluid
    .span2
      &nbsp;
    .span8
      .well
        h1 Restablecer contraseña
      .well
        p
          | Introduzca su cuenta de correo electrónico y le enviaremos un email para poder
          | restablecer su contraseña
        form(role='form', method='POST', action='/shopmanagement/resetpassword')
          .row-fluid
            .span3
            .span6(style='text-align: center;')
              label(for='reservationId')
                strong Cuenta de correo electrónico
              input.reservationConfirmation#email(type='email', value='', placeholder='Introduzca su email',
                name='email', required, style='width: 400px')
            .span3
          .row-fluid
            .span5
            .span2(style='text-align: center;')
              input.btn.btn-primary(type='submit', value='Restablecer contraseña')
            .span5