extends ../layouts/default
block content
  include ../layouts/top-menu
  .row-fluid
    .span2
      &nbsp;
    .span8
      .well
        h1 Restablecer contraseña

      .alert.alert-success
        p
          | Hemos enviado a su cuenta de correo un email con las instrucciones para restablecer su
          | contraseña.
          br
        .pull-right
          a.btn.btn-primary(href='/shopmanagement/login') Volver a página de acceso
        .clearfix