extends ../layouts/default
block content
  include ../layouts/top-menu
  .row-fluid
    .span2
      &nbsp;
    .span8
      .well
        h1 Confirmar reserva
      .alert.alert-success
        p
          | La reserva #{reservationId} ha sido correctamente confirmada
        
      .center
        a(href='/shopmanagement/reservations/list') Volver