extends ../layouts/default
block content
  include ../layouts/top-menu
  .row-fluid
    .span2
      &nbsp;
    .span8
      h1 Confirmar reserva
      .well
        p
          | Introduzca el código que su cliente le proporcionará para comprobarlo:
        form(role='form', method='POST', action='/shopmanagement/profile/view')
          .row-fluid
            .span3
            .span6(style='text-align: center;')
              label(for='reservationId')
                strong Código
              input.reservationConfirmation#reservationId(type='text', value='', placeholder='Introduzca el código',
                name='reservationId', required)
            .span3
          .row-fluid
            .span5
            .span2(style='text-align: center;')
              input.btn.btn-primary(type='submit', value='Confirmar reserva',
                onclick='return App.showConfirm("¿Está seguro de confirmar esta reserva?");')
            .span5
