extends ../layouts/default
block content
    include ../layouts/top-menu

    -function formatDate(dateString){
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}

    .row-fluid
        .span2
        .span8
            h1 Listado de reservas confirmadas
            .pull-right
                p
                    a.btn.btn-primary(href="/shopmanagement/reservations/confirm") Nueva confirmación de reserva
            table.table.table-bordered
                thead
                    tr
                        th(width="90") Fecha
                        th Oferta
                        th(width="180") Categoría
                        th(width="50") Consumida
                tbody
                    - for reservation in reservations
                        tr
                            td #{formatDate(reservation.date)}
                            td #{reservation.deal.name}
                            td #{reservation.deal.categoryname}
                            - if (reservation.redeemed)
                                td(style="text-align: center;")
                                    img(src='/img/ok.png')
                            - else
                                td(style="text-align: center;")
                                    img(src='/img/nok.png')
