extends ../layouts/default
block content
    include ../layouts/top-menu

    -function formatDate(dateString){
        -var date = new Date(dateString);
        -var d = date.getDate();
        -var monthNames = [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic" ];
        -var m = monthNames[date.getMonth()];
        -var y = date.getFullYear();
        -return d+' '+m+' '+y;
    -}

    .row-fluid
        .span2
            &nbsp;
        .span8
            h1 Listado de reservas confirmadas
            .pull-right
                p
                    a.btn.btn-primary(href="/shopmanagement/reservations/confirm") Nueva confirmación de reserva
            table.table.table-bordered
                thead
                    tr
                        th Fecha
                        th Oferta
                        th Categoría
                tbody
                    span #{reservations.length}
                    - for reservation in reservations
                        tr
                            td #{formatDate(reservation.date)}
                            td ff
                            td ff