section(data-ng-controller='DealsController', data-ng-init="showdealcategories()")
  ul 
    li(data-ng-repeat='category in categories')
      p {{category.name}}
    form.form-horizontal(data-ng-submit='create()')
        h1 Shop {{global.shop.name}}
        .control-group
          label.control-label(for='title') Name
          .controls
            input#name(type='text', data-ng-model='name', placeholder='Title', required='required')
        .control-group
          label.control-label(for='price') Price
          .controls
            input#price(type='number', step="0.01", data-ng-model='price', placeholder='Price', required='required')
        .control-group
          .controls
            input.btn(type='submit')