section(data-ng-controller='DealsController', data-ng-init='find()')
  h2 Listado de ofertas disponibles
  .search-box
    h3 Buscar por
    input.form-control(type="search",ng-model="search.name",placeholder="Nombre de oferta...")
    input.form-control(type="search",ng-model="search.shop",placeholder="Nombre de tienda...")
    .clearfix
  ul.deals
    li(data-ng-repeat='deal in deals | filter:search')
      a(data-ng-href="deals/{{deal._id}}")
        .deal-data
          p
            h3 {{deal.name | trunc:true:20}}
          p
            em {{deal.categoryname}}
          p {{deal.datainit | date:'mediumDate'}} a {{deal.dataend | date:'mediumDate'}}
          p.img-rounded
            img(ng-src="{{deal.image}}")
          p {{deal.shop.name}}
          p
            span.rating
              rating.shop-rating(value="deal.shop.rating", max="10", readonly='true')
              {{deal.average}}/10
          p
            span.invalid {{deal.price | currency:"&euro;"}}&nbsp;
            strong {{deal.gertuprice | currency:"&euro;"}}&nbsp;
            span (-{{deal.discount | number:0}}%)
