section(data-ng-controller='DealsController', data-ng-init='find()')
  .searchbar
    h3 Buscar por:
    input.form-control(type="search",ng-model="search.name",placeholder="Nombre de oferta...")
    input.form-control(type="search",ng-model="search.shop",placeholder="Nombre de tienda...")
  ul.deals
    li(data-ng-repeat='deal in deals | filter:search')
      a(data-ng-href="deals/{{deal._id}}")
        .deal-data
          h3 {{deal.name | trunc:true:20}}
          p Categoria: {{deal.categoryname}}
          img.img-rounded(ng-src="{{deal.image}}")
          p {{deal.created | date:'medium'}}
          p {{deal.shop.name}}
          h4 {{deal.price | currency:"&euro;"}}
          rating.deal-rating(value='rate', max='max', readonly='isReadonly')
          span {{rate}}/{{max}}
  div(data-ng-show='global.shop')
    a(data-ng-href='/deals/create') Create One