section(data-ng-controller='DealsController', ng-init='find()')
  .col-sm-12
    div(ng-repeat='marker in myMarkers', ui-map-marker='myMarkers[$index]', ui-event='{\'map-click\': \'openMarkerInfo(marker)\'}')
    div(ui-map-info-window='myInfoWindow')
      h1 {{currentMarkerName}}
      | Lat:
      input(ng-model='currentMarkerLat')
      | , Lng:
      input(ng-model='currentMarkerLng')
      a(ng-click='setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)') Set Position
    .map-canvas(ui-map='myMap', ui-event='{\'map-click\': \'addMarker($event, $params)\', \'map-zoom_changed\': \'setZoomMessage(myMap.getZoom())\' }', ui-options='mapOptions')
  .searchbar
    h3 Buscar por:
    input.form-control(type="search",ng-model="dealname",placeholder="Nombre de oferta...")
    //- input.form-control(type="search",ng-model="search.shop",placeholder="Nombre de tienda...")
    select(ng-options="category for category in uniqueCategories",ng-change="filter()",ng-model="selectedCategory",style="color: black;")
      option(value="",selected) --Todas las categorías--
    select(ng-options="price.text for price in priceRange",ng-change="filter()",ng-model="selectedPrice",style="color: black;")
      option(value="",selected) --Cualquier precio--
  ul.deals
    li(ng-repeat='deal in filteredDeals | filter:dealname')
      a(ng-href="deals/{{deal.deal._id}}")
        .deal-data
          h3 {{deal.deal.name | trunc:true:20}}
          p Categoria: {{deal.deal.categoryname}}
          img.img-rounded(ng-src="{{deal.deal.image}}")
          p Desde: {{deal.deal.datainit | date:'longDate'}}
          p Hasta: {{deal.deal.dataend | date:'mediumDate'}}
          p {{deal.deal.shop.name}}
          span.rating
            rating.shop-rating(value="deal.deal.shop.rating", max="10", readonly='true')
          .pricecolumn
            .normalprice
              p.price {{deal.deal.price | currency:"&euro;"}}
              p.discount {{deal.deal.discount | number:0}}%
            .gertuprice
              p {{deal.deal.gertuprice | currency:"&euro;"}}
          p Valoración
          p {{deal.deal.average}}/10