section(data-ng-controller='DealsController', data-ng-init='findOne()')
  .deal-view
    h1 {{deal.name}}
    p {{deal.created | date:'medium'}}
    p {{deal.shop.name}}
    p {{deal.price | currency:"&euro;"}}
    button.btn.btn-primary(type="submit", ng-click="reserve()") {{'RESERVE' | translate}}