section#portfolioSheetWrapper(data-ng-controller="DealsController", data-ng-init="findOne()")
  .container
    .row
      .col-md-10
        h1 {{deal.name}}
        p Quedan {{deal.quantity}} ofertas disponibles

      .col-md-2
        button.btn.pull-right(type="submit", ng-hide="deal.quantity == 0", ng-click="reserve()")
          i.icon-ok-outline
          | {{'RESERVE' | translate}}
  section.content
    section.mb15
      .container
        .row
          .col-md-4
            img.dealdetail(ng-src='{{deal.image}}' width="300px")
            .pricecolumn
              .normalprice
                p.price
                  | {{deal.price | currency:"&euro;"}}
                p.discount
                  | {{deal.discount | number:0}}%
              .gertuprice
                p {{deal.gertuprice | currency:"&euro;"}}
          .col-md-7
            h2 {{deal.shop.name}}
            p {{deal.description}}
            p.date Valido desde: {{deal.datainit | date: "longDate"}} hasta {{deal.dataend | date: "longDate"}}
            p Los dias: {{deal.days}}
        .row
          .col-md-12.color1.ctaBox.comment
            h2 {{"COMMENTS" | translate}}
            ul.deal.comments
              li(data-ng-repeat="comment in deal.comments")
                {{comment.author.email}}
                span.rating
                  rating.deal-rating(value="comment.rating", max="10", readonly='true')
                p {{comment.description}}
                p {{comment.writedAt | date: "longDate"}}
                hr
              li(data-ng-show="global.user")
                include ../deals/commentForm