// variables
light-green   = #A8E430
dark-green    = #609C00
dark-orange   = #FC6C00
lighter-green = #FCFCA8
light-orange  = #FCA860
brown         = #483000
blueish-green = #84C090
light-gray    = #F7F5FA
light-black   = #666666
light-green   = #7DC24F
white         = #fff
light-grey2    = #989998
gold          = #E0B53E
transparent-green = rgba(96, 156, 0, .7)

// includes
@import "vendor"
@import "partials/_layouts"
@import "partials/_navbar"
@import "partials/_home"

// functions
gradient(direction, color1, color2)
  background -webkit-linear-gradient(direction, color1, color2) /* For Safari */
  background -o-linear-gradient(direction, color1, color2)      /* For Opera 11.1 to 12.0 */
  background -moz-linear-gradient(direction, color1, color2)    /* For Firefox 3.6 to 15 */
  background linear-gradient(direction, color1, color2)         /* Standard syntax */

.pricecolumn
  .normalprice
    height 70px
    float left
    background light-grey2
    color white
    text-align center
    p.price
      padding 5px 30px 0px 30px
      text-decoration line-through
      font-size 12px
    p.discount
      font-size 22px
  .gertuprice
    height 70px
    padding-top 25px
    background light-green
    color white
    text-align center
    p
      font-size 30px

// titles
h1, h2, h3
 color dark-green

// buttons
.btn-primary
  color dark-green
  background-color light-orange
  border 0
  &:hover, &:focus, &:active
    color light-green
    transition(background-color,ease-in-out,.10s)
    background-color dark-orange
    border-color dark-orange

.btn-primary[disabled]
  background-color lighten(light-orange,20)
  border-color lighten(dark-orange,20)

.btn-secondary
  @extends .btn-primary
  font-size 60%


.line-through
  text-decoration line-through

#map-canvas
  height 450px
  width 100%
  margin auto

.deals
  list-style none
  width 100%
  float left
  padding-top 25px
  background  url('../../img/light_toast.png') repeat top left

  li
    float left
    width 306px
    margin 0 30px 15px
    text-align center
    background rgba(white)
    animation fadeIn 1s
    padding 15px
    box-shadow 0px 0px 5px rgba(0, 0, 0, 0.4)
    color white
    span.glyphicon
      margin-right 4px
    a
      text-decoration none
      color white
      &:hover
        cursor pointer
    .deal-data
      img
        width 100%
        height 225px
        margin 0
        // &:hover
      .info
        margin 4px 0 8px
      .secondary-info
        margin 4px 0 12px
      .data
        .count
          border-right 1px solid white
      .deal-desc
        padding 0 15px 15px
        p
          color white
          text-shadow(0,0,6px,black)
          font-size 16px
        h3
          color white
          text-shadow(0,0,6px,black)
          margin-top 0
        .deal-rating, span
          color white
          text-shadow(0,0,6px,black)
        .shop-info
          h4.green
            color light-green
    .pricecolumn
      .normalprice
        height 70px
        float left
        background light-grey2
        color white
        text-align center
        p.price
          padding 5px 30px 0px 30px
          text-decoration line-through
          font-size 12px
        p.discount
          font-size 22px
      .gertuprice
        height 70px
        padding-top 25px
        background light-green
        color white
        text-align center
        p
          font-size 30px


.effeckt-caption
  position relative

.effeckt-caption figcaption
  position absolute
  -webkit-transition 500
  transition 500
  background rgba(0, 0, 0, 0.8)


.effeckt-caption[data-effeckt-type="revolving-door-left"]
  overflow visible
  figcaption
    top 0
    left 0
    width 100%
    height 100%
    padding 12px
    text-align justify
    -webkit-transform perspective(1300px) rotateY(180deg)
    -ms-transform perspective(1300px) rotateY(180deg)
    -o-transform perspective(1300px) rotateY(180deg)
    transform perspective(1300px) rotateY(180deg)
    -webkit-backface-visibility hidden
    -ms-backface-visibility hidden
    -o-backface-visibility hidden
    backface-visibility hidden
  img
    -webkit-transform perspective(1300px)
    -ms-transform perspective(1300px)
    -o-transform perspective(1300px)
    transform perspective(1300px)
    -webkit-transition 500ms
    -o-transition 500ms
    transition 500ms

.effeckt-caption[data-effeckt-type="revolving-door-left"]:hover figcaption,
.effeckt-caption[data-effeckt-type="revolving-door-left"]:active figcaption
  -webkit-transform perspective(1300px) rotateY(0deg)
  -ms-transform perspective(1300px) rotateY(0deg)
  -o-transform perspective(1300px) rotateY(0deg)
  transform perspective(1300px) rotateY(0deg)

.effeckt-caption[data-effeckt-type="revolving-door-left"]:hover img,
.effeckt-caption[data-effeckt-type="revolving-door-left"]:active img
  -webkit-transform perspective(1300px) rotateY(-180deg)
  -ms-transform perspective(1300px) rotateY(-180deg)
  -o-transform perspective(1300px) rotateY(-180deg)
  transform perspective(1300px) rotateY(-180deg)