// variables
light-green   = #A8E430
dark-green    = #609C00
dark-orange   = #FC6C00
lighter-green = #FCFCA8
light-orange  = #FCA860
brown         = #483000
blueish-green = #84C090
light-gray    = #F7F5FA
light-black   = #666666
gold          = #E0B53E
transparent-green = rgba(96, 156, 0, .7)

// includes
@import "vendor"
@import "partials/_layouts"
@import "partials/_navbar"
@import "partials/_home"

// functions
gradient(direction, color1, color2)
  background -webkit-linear-gradient(direction, color1, color2) /* For Safari */
  background -o-linear-gradient(direction, color1, color2)      /* For Opera 11.1 to 12.0 */
  background -moz-linear-gradient(direction, color1, color2)    /* For Firefox 3.6 to 15 */
  background linear-gradient(direction, color1, color2)         /* Standard syntax */


// titles
h1, h2, h3
 color dark-green

// buttons
.btn-primary
  color dark-green
  background-color light-orange
  border 0
  &:hover, &:focus, &:active
    color light-green
    transition(background-color,ease-in-out,.10s)
    background-color dark-orange
    border-color dark-orange

.btn-primary[disabled]
  background-color lighten(light-orange,20)
  border-color lighten(dark-orange,20)

.btn-secondary
  @extends .btn-primary
  font-size 60%

.navbar-inner
  background-color #333333

ul.deals
  padding 0

ul.deals li
  list-style none

.deal-data
  background-color #FFFFFF
  border 2px solid #444444
  border-radius 10px
  -webkit-box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    2px 2px 18px 0px rgba(50, 50, 50, 0.75)
  box-shadow:         2px 2px 18px 0px rgba(50, 50, 50, 0.75)
  float left
  margin 10px 0.5% 20px 0.5%
  width 24%

.deal-data p
  text-align center

.deal-data p span.invalid
  text-decoration line-through

.deal-data h3
  margin-left 25px

h2
  color #FE9A2E
  font-weight bold

section.content
  margin-top 40px

.search-box
  background-color #088A29
  border 1px solid #444444
  border-radius 10px
  -webkit-box-shadow: 7px 7px 18px 0px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    7px 7px 18px 0px rgba(50, 50, 50, 0.75)
  box-shadow:         7px 7px 18px 0px rgba(50, 50, 50, 0.75)
  margin-bottom 20px
  padding 0 10px 10px 10px

.search-box h3
  color #FFFFFF
  float left
  width 130px

.search-box input[type="search"]
  float left
  margin 15px 5%
  width 30%

.general p
  color #000000
  text-align justify