// html.management
//   background #FFFFFF

// html.management body
// 	background #CDCDCD

// html.management section.content
// 	margin 0 auto

// html.management section.content section.container
// 	background none

// html.management section.content section.container table.table
// 	background #FFFFFF