section.general(data-ng-controller='DealsController', data-ng-init='find()')
  h2 Acerca de nosotros
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan metus vel lacus convallis, id facilisis elit pharetra. Etiam ut metus egestas, elementum sapien imperdiet, pellentesque elit. Sed sed rhoncus nisi, ac euismod est. Ut ut eros nisl. Fusce eleifend nunc in sagittis tempus. Aliquam tincidunt sit amet metus a rutrum. Quisque augue sapien, bibendum varius augue a, condimentum consequat magna. Vivamus hendrerit lorem nulla, nec tincidunt ligula fermentum non.
  p
    | Phasellus ut varius arcu, sit amet tristique tellus. Phasellus vel diam a nibh fringilla pharetra non nec ligula. Aenean varius lacus justo, sed scelerisque ante molestie sed. Morbi rutrum pulvinar odio, ut luctus mi posuere sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam at erat quam. Etiam ultrices condimentum porta. Praesent ornare porta fringilla. Mauris enim diam, ornare in ultrices et, adipiscing ac metus.
  p
    | Sed rutrum, odio ac interdum porta, felis justo mattis mauris, ac interdum urna erat id neque. Phasellus mattis ut lacus at egestas. Aliquam at fermentum magna. Suspendisse at mi in lacus sodales pellentesque. Morbi lacinia augue dolor, sit amet vestibulum nulla interdum a. Proin arcu enim, semper et hendrerit a, vestibulum at massa. Nullam id luctus odio, eu accumsan felis.
