section#about.slice
  .container
    .row
      .col-xs-12
        h1 Sobre nosotros
        h2.subTitle Gertu es la enpresa mas loca y caÉqutica y por eso es la mejor
    .row
      .col-sm-4
        img.img-responsive(src='images/theme-pics/services.png', alt='services')
      .col-sm-4
        h2 Equipo onFire siempre
        p
          | This did not seem to encourage the witness at all&colon; he kept shifting  from one foot to the other&comma; looking uneasily at the Queen&comma; and in  his confusion he bit a large piece out of his teacup instead of the  bread-and-butter&period;
        p
          | Just at this moment Alice felt a very curious sensation&comma; which puzzled  her a good deal until she made out what it was&colon; she was beginning to  grow larger again&comma; and she thought at first she would get up and leave  the court&semi; but on second thoughts she decided to remain where she was as  long as there was room for her&period;
      .col-sm-4
        h2 Ashley website template
        p
          | The Hatter&apos;s remark seemed to have no sort of meaning in it&comma; and yet it was certainly English&period; &apos;I don&apos;t quite understand you&comma;&apos; she said&comma; as politely as she could&period; &apos;The Dormouse is asleep again&comma;&apos; said the Hatter&comma; and he poured a little hot tea upon its nose&period;
        h3 I don&apos;t quite understand you
        p
          | The Dormouse shook its head impatiently&comma; and said&comma; without opening its eyes&comma; &apos;Of course&comma; of course&semi; just what I was going to remark myself&period;&apos; &apos;Have you guessed the riddle yet&quest;&apos; the Hatter said&comma; turning to Alice again&period;
