section.general
  .row
    .col-md-5
      h2 Contacta con nosotros
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan metus vel lacus convallis, id facilisis elit pharetra. Etiam ut metus egestas, elementum sapien imperdiet, pellentesque elit. Sed sed rhoncus nisi, ac euismod est. Ut ut eros nisl. Fusce eleifend nunc in sagittis tempus. Aliquam tincidunt sit amet metus a rutrum. Quisque augue sapien, bibendum varius augue a, condimentum consequat magna. Vivamus hendrerit lorem nulla, nec tincidunt ligula fermentum non.
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan metus vel lacus convallis, id facilisis elit pharetra. Etiam ut metus egestas, elementum sapien imperdiet, pellentesque elit. Sed sed rhoncus nisi, ac euismod est. Ut ut eros nisl. Fusce eleifend nunc in sagittis tempus. Aliquam tincidunt sit amet metus a rutrum. Quisque augue sapien, bibendum varius augue a, condimentum consequat magna. Vivamus hendrerit lorem nulla, nec tincidunt ligula fermentum non.

    .col-md-2
    .col-md-5(style="text-align: center;")
      p
        img(src="/img/gertu_logo6_v.png", style="margin: 0 auto;")
      form.form-horizontal(action='', method='post')
        input(type='hidden', name='_csrf', value=token)
        .form-group
          input#message_name.form-control.input-xxlarge(type='text', placeholder='Nombre', name='message[name]')
        .form-group
          input#message_email.form-control.input-xxlarge(type='text', placeholder='Email', name='message[email]')
        .form-group
          textarea#message_message.form-control.input-xxlarge(placeholder='Introduce el mensaje', rows='6', name='message[message]')
        button.btn.btn-primary(type='submit') Enviar mensaje

