section#contactSlice.slice
  .container
    .row
      .col-sm-12
        h1.noSubtitle Contacte con nosotros
      //- .col-sm-12
      //-   #mapWrapper.mb30
      .col-sm-4
        h4 Dirección;
        address
          | Universidad Desuto
          br
          | Pasepo de las universidades 77
          br
          | Bilbo Bizkaia 20560
          br
        h4 Phone&colon;
        address
          | 615&period;987&period;1234
          br
      form#contactfrm(method='post', action='js-plugin/neko-contact-ajax-plugin/php/form-handler.php', role='form')
        .col-sm-4
          .form-group
            label(for='name') Name
            input#name.form-control(type='text', name='name', placeholder='Enter name', title='Please enter your name (at least 2 characters)')
          .form-group
            label(for='email') Email
            input#email.form-control(type='email', name='email', placeholder='Enter email', title='Please enter a valid email address')
          .form-group
            label(for='phone') Phone
            input#phone.form-control.required.digits(type='tel', name='phone', size='30', value='', placeholder='Enter email phone', title='Please enter a valid phone number (at least 10 characters)')
        .col-sm-4
          .form-group
            label(for='comments') Comments
            textarea#comments.form-control(name='comment', cols='3', rows='5', placeholder='Enter your message…', title='Please enter your message (at least 10 characters)')
        .col-md-8.col-md-offset-4
          .result
          button#submit.btn.btn-lg(name='submit', type='submit')  Enviar

//- section
//-   .col-md-8(style="text-align: center;")
//-     img(src="/img/gertu_logo6_v.png", style="margin: 5% 0;")
//-   .col-md-4(style="text-align: center;")
//-     form.form-horizontal(action='', method='post')
//-       input(type='hidden', name='_csrf', value=token)
//-       .form-group
//-         input#message_name.form-control.input-xxlarge(type='text', placeholder='Nombre', name='message[name]')
//-       .form-group
//-         input#message_email.form-control.input-xxlarge(type='text', placeholder='Email', name='message[email]')
//-       .form-group
//-         textarea#message_message.form-control.input-xxlarge(placeholder='Introduce el mensaje', rows='6', name='message[message]')
//-       button.btn.btn-primary(type='submit') Enviar mensaje
