section(data-ng-hide="global.authenticated", ng-controller="IndexController")
  section#home(data-stellar-background-ratio='0.5')
    .container
        .row
          .col-lg-5.col-sm-6.hidden-xs.steps.pull-right
            .row
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_FIND' | translate}}
                p.step-desc {{'STEP_FIND_DESC' | translate}}
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_RESERVE' | translate}}
                p.step-desc {{'STEP_RESERVE_DESC' | translate}}
            .row
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_REDEEM' | translate}}
                p.step-desc {{'STEP_REDEEM_DESC' | translate}}
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_ENJOY' | translate}}
                p.step-desc {{'STEP_ENJOY_DESC' | translate}}
  section.color4.slice
        .ctaBox.ctaBoxFullwidth
          .container
            .row
              .col-md-8
                h1
                  strong {{'DONOT_WASTE_TIME' | translate}}
                  br
                  | {{'REGISTER_FOR_FREE' | translate}}
              .col-md-4
                a.btn.btn-lg(target="_self" href='#signup')
                  i.icon-flash
                  | {{'REGISTER_NOW' | translate}}
  section#services.slice.color1
        .container
          .row
            .col-xs-12
              h1 {{'WHAT_WE_HAVE' | translate}}
              h2.subTitle {{'DONOT_LOSE_CHANCE' | translate}}
          .row
            .col-sm-6
              .row.boxFeature
                .col-xs-5
                .col-xs-3
                  i.icon-ok-outline.iconBig
                .col-xs-4
                  h2.text-center {{reservationcount}}
                  p.text-center {{'RESERVED_DEALS' | translate}}
            .col-sm-6
              .row.boxFeature
                .col-xs-3
                  i.icon-users.iconBig
                .col-xs-4
                  h2.text-center {{usercount}}
                  p.text-center {{'ACTIVE_USERS' | translate}}
          .row
            .col-sm-6
              .row.boxFeature
                .col-xs-5
                .col-xs-3
                  i.icon-thumbs-up.iconBig
                .col-xs-4
                  h2.text-center {{dealcount}}
                  p.text-center {{'ACTIVE_DEALS' | translate}}
            .col-sm-6
              .row.boxFeature
                .col-xs-3
                  i.glyphicon.glyphicon-map-marker.iconBig
                .col-xs-4
                  h2.text-center {{shopcount}}
                  p.text-center {{'ACTIVE_SHOPS' | translate}}

  section#signup
    include ../templates/signupform

.row(ng-controller="IndexController", data-ng-show="global.authenticated")
  div(data-ng-show="global.user")
    .dashboard
      .dashboard-column.location.col-md-12(data-ng-show="global.authenticated")
        span {{"YOU_ARE_IN" | translate}}
        span.location-text
      .dashboard-column.col-md-5.ctaBox.comment
        h3.arrow-title {{"MY_RESERVES" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="reserve in myReserves")
              p {{"RESERVED" | translate}}
                span {{reserve.date | date: "longDate"}}
                span.reserves
                  a(href="/deals/{{reserve.deal._id}}") {{reserve.deal.name}}
                span.glyphicon.glyphicon-barcode.pull-right(tooltip="{{'RESERVE_CODE' | translate}} {{reserve._id}}")

          ul(ng-show="!myReserves.length")
            li {{"NO_RESERVES" | translate}}

      .dashboard-column.col-md-5.ctaBox.comment
        h3.arrow-title {{"NEARBY_DEALS" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="neardeal in nearDeals")
              p.neardeals
                a(href="/deals/{{neardeal.deal._id}}")
                  span.badge.pull-right {{neardeal.dist*1000 | number:2}} m.
                  | {{neardeal.deal.name | trunc:true:18}}
          ul(ng-show="!nearDeals.length")
            li {{"NO_NEAR_DEALS" | translate}}

      .dashboard-column.col-md-8.ctaBox.comment
        h3.arrow-title {{"MY_BUYS" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="buy in myBuys")
              p {{ "BUYED" | translate }}
                span {{buy.date | date: "longDate"}}
              a(href="/deals/{{buy.deal._id}}") {{buy.deal.name}}
          ul(ng-show="!myBuys.length")
            li {{"NO_BUYS" | translate}}

      .dashboard-column.col-md-8.ctaBox.comment
        h3.arrow-title {{"MY_COMMENTS" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="comment in myComments")
              p {{comment.writedAt | date: "longDate"}}
                span.rating.home
                  rating.deal-rating(value="comment.rating", max="10", readonly="true")
              p {{comment.description}}
              hr
          ul(ng-show="!myComments.length")
            li {{"NO_COMMENTS" | translate}}
