section(data-ng-hide="global.authenticated")
  section#home(data-stellar-background-ratio='0.5')
    .container
        .row
          .col-lg-7.col-sm-6
            #flexHome.flexslider
              //- ul.slides
              //-   li.slides
              //-     h1 Gertu app
              //-     h2 Find the best deals near you
          .col-lg-5.col-sm-6.hidden-xs.steps
            .row
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_FIND' | translate}}
                p.step-desc {{'STEP_FIND_DESC' | translate}}
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_RESERVE' | translate}}
                p.step-desc {{'STEP_RESERVE_DESC' | translate}}
            .row
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_REDEEM' | translate}}
                p.step-desc {{'STEP_REDEEM_DESC' | translate}}
              .col-md-6.step
                .step-img
                h2.step-title {{'STEP_ENJOY' | translate}}
                p.step-desc {{'STEP_ENJOY_DESC' | translate}}
  section.color4.slice
        .ctaBox.ctaBoxFullwidth
          .container
            .row
              .col-md-8
                h1
                  strong No pierda mas el tiempo
                  br
                  | Registrese gratuitamente y empiece a aprovecharse
              .col-md-4
                //- a.btn.btn-lg(target="_self" href='/shopmanagement/login')
                //-   i.icon-flash
                //-   | {{'I_AM_A_SHOP' | translate}}
                a.btn.btn-lg(title='', href='#signup', target='blank')
                  i.icon-flash
                  | Registrese ahora
  section#services.slice.color1(ng-controller="IndexController", data-ng-init="commentsReservesBuys()",)
        .container
          .row
            .col-xs-12
              h1 LO QUE TENEMOS
              h2.subTitle No pierda la oportunidad de aprovecharlos
          .row
            .col-sm-6
              .row.boxFeature
                .col-xs-5
                .col-xs-3
                  i.icon-heart.iconBig
                .col-xs-4
                  h2.text-center {{reservationcount}}
                  p.text-center {{'RESERVED_DEALS' | translate}}
            .col-sm-6
              .row.boxFeature
                .col-xs-3
                  i.icon-plane-outline.iconBig
                .col-xs-4
                  h2.text-center {{usercount}}
                  p.text-center {{'ACTIVE_USERS' | translate}}
          .row
            .col-sm-6
              .row.boxFeature
                .col-xs-5
                .col-xs-3
                  i.icon-resize-full-outline.iconBig
                .col-xs-4
                  h2.text-center {{dealcount}}
                  p.text-center {{'ACTIVE_DEALS' | translate}}
            .col-sm-6
              .row.boxFeature
                .col-xs-3
                  i.icon-edit.iconBig
                .col-xs-4
                  h2.text-center {{shopcount}}
                  p.text-center {{'ACTIVE_SHOPS' | translate}}
.location.col-md-12(data-ng-show="global.authenticated")
  span.location-text
section#signup(data-ng-hide="global.authenticated")
  include ../templates/signupform
.row(data-ng-show="global.authenticated")
  div(data-ng-show="global.user")
    .profile-status(data-ng-hide="hideSteps")
      h2
        | {{"PROFILE_HOME_1" | translate}}
        a(href="/profile") {{"PROFILE_HOME_HERE" | translate}}
        | {{"PROFILE_HOME_2" | translate}}
      progressbar.progress-striped.active(value="actualProgress", max="totalProgress") {{actualProgress}}/{{totalProgress}}
      hr
    .dashboard
      .dashboard-column.col-md-4
        h3.arrow-title {{"MY_RESERVES" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="reserve in myReserves")
              p {{reserve.date | date: "longDate"}}
              a(href="/deals/{{reserve.deal._id}}")
                span.glyphicon.glyphicon-circle-arrow-right.pull-right
                | {{reserve.deal.name}}
          ul(ng-show="!myReserves.length")
            li {{"NO_RESERVES" | translate}}

      .dashboard-column.col-md-4
        h3.arrow-title {{"MY_BUYS" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="buy in myBuys")
              p {{buy.date | date: "longDate"}}
              a(href="/deals/{{buy.deal._id}}")
                span.glyphicon.glyphicon-circle-arrow-right.pull-right
                | {{buy.deal.name}}
          ul(ng-show="!myBuys.length")
            li {{"NO_BUYS" | translate}}

      .dashboard-column.col-md-4
        h3.arrow-title {{"NEARBY_DEALS" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="neardeal in nearDeals")
              a(href="/map/{{neardeal.deal._id}}")
                span.glyphicon.glyphicon-globe.pull-right(tooltip="{{'SEE_IN_MAP' | translate}}")
              a(href="/deals/{{neardeal.deal._id}}")
                span.badge.pull-right {{neardeal.dist*1000 | number:2}} m.
                | {{neardeal.deal.name | trunc:true:18}}
          ul(ng-show="!nearDeals.length")
            li {{"NO_NEAR_DEALS" | translate}}

      .dashboard-column.col-md-8
        h3.arrow-title {{"MY_COMMENTS" | translate}}
        .arrow-down
        .fieldset
          ul
            li(data-ng-repeat="comment in myComments")
              p {{comment.writedAt | date: "longDate"}}
                span.rating
                  rating.deal-rating(value="comment.rating", max="10", readonly="true")
              p {{comment.description}}
          ul(ng-show="!myComments.length")
            li {{"NO_COMMENTS" | translate}}