section.profile(data-ng-controller='UsersController', data-ng-init='findOne()')
  form.user-basics.col-md-4(name="user-basics", data-ng-submit="update()")
    h3.arrow-title Información
    .arrow-down
    .fieldset
      .form-group
        label(for="email")
          span.glyphicon.glyphicon-envelope
          | Correo electrónico
        input.email.form-control(type="email", id="email", name="email", data-ng-model="user.email" ,value="{{user.email}}", disabled='true')

      .form-group
        label(for="firstName")
          span.glyphicon.glyphicon-user
          | Nombre
        input.firstName.form-control(type="text", id="firstName", name="firstName", data-ng-model="user.firstName",value="{{user.firstName}}")

      .form-group
        label(for="lastName")
          span.glyphicon.glyphicon-user
          | Apellidos
        input.lastName.form-control(type="text", id="lastName", name="lastName", data-ng-model="user.lastName",value="{{user.lastName}}")

      .form-group
        label(for="birthDate")
          span.glyphicon.glyphicon-calendar
          | Fecha de nacimiento
        input.form-control(type='text', ng-click='open($event)', id="birthDate",placeholder="Fecha nacimiento",datepicker-popup='dd/MM/yyyy', data-ng-model='user.birthDate', is-open='opened', max='\'2015-06-22\'', datepicker-options='dateOptions', ng-required='true', close-text='Close')

      .form-group
        label(for="location")
          span.glyphicon.glyphicon-map-marker
          | Radio de detección
          span.glyphicon.glyphicon-question-sign(tooltip="Metros a la redonda, desde tu posición, en los que se buscarán ofertas",tooltip-placement="bottom",style="margin-left: 12px;")
        .input-group
          input.form-control(type="text", data-ng-model="user.radius",id="location", name="location")
          span.input-group-addon metros

      .form-actions
        button.btn.btn-primary(type="submit",data-loading-text="Guardando...") Guardar
  form.user-picture.col-md-4(action="/api/v1/profile/updatepicture", method="post", id="user-picture", enctype="multipart/form-data")
    h3.arrow-title Sobre ti
    .arrow-down
    .fieldset
      .imagechanger
        img.dynamicpicture(ng-src="{{user.picture}}")
      .form-group
        a.uploadButton(href="#",onclick="openInput();")
          span.glyphicon.glyphicon-folder-open
          |  Cambiar imagen
        //- input.btn.btn-active(type="button", onclick="openInput();", value="Seleccionar imagen")
        input.picture.form-control(type="file", onchange="readURL(this);", title="Elegir imagen", name="picture")
      .form-actions
        button.btn.btn-primary(type="submit",data-loading-text="Guardando...") Guardar

  form.user-hobbies.col-md-4
    h3.arrow-title Aficiones
    .arrow-down
    .fieldset
      ul(style="list-style: none; padding: 0;")
        li(data-ng-repeat='hobby in hobbies')
          div(style="padding: 10px;")
            label(style="color: white; text-shadow: 0 1px black; font-size: 18px;") {{hobby.name}}
            input.pull-left(type="checkbox", style="margin:10px 0; margin-left: 56px;")