section(data-ng-controller='UsersController', data-ng-init='findOne()')
  h1 Nombre: {{user.firstName}}
  h1 Appelidos: {{user.lastName}}
  h1 E-mail: {{user.email}}
  a(data-ng-href="/profile/edit") Editar