body
    {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #7DC24F;
    }
.form-signin
{
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #bbb;
    -webkit-box-shadow: 4px 9px 19px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 9px 19px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 9px 19px 0px rgba(50, 50, 50, 0.75);
}
.form-signin .form-signin-heading,
.form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"]
{
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 4px 9px;
}

.login-header{
    background-color: #FFFFFF;
    border-radius: 4px;
    -webkit-box-shadow: 4px 9px 19px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 9px 19px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 9px 19px 0px rgba(50, 50, 50, 0.75);
    padding: 20px 50px;
    text-align: center;
    margin: 10px auto 40px auto;
    width: 600px;
}

.login-header img{
    margin-top: -20px;
}