/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    padding: 10px;
    padding-top: 120px;
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

.sidebar-nav
{
    padding: 0;
    border: none;
    width: 230px;
}

a.nounderline
{
    text-decoration: none;
}

.table td.center
{
    text-align: center;
}

.dropdown-menu
{
    max-height: 600px;
    overflow-y: auto;
}

.ui-spinner-input{
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px inset !important;
    text-align: right;
}

.span1.day{
    text-align: left;
}

input[type="file"]{
    width: 100%;
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
}

input.reservationConfirmation{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.navbar-inner{
    background: #FFFFFF;
    height: 90px;
}

ul.nav{
    margin-top: 20px !important;
}

.navbar-inner ul li{
    height: 50px;
}

.navbar-inner ul li a{
    padding: 15px !important;
}

.navbar-inner ul li.active a{
    background-color: #7DC24F !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
}
.navbar-inner p.navbar-text{
    padding-top: 20px;
}

span.brand span{
    padding-top: 20px;
}

.btn{

    border-radius: 2px !important;
    padding: 2px 5px !important;
}

.btn.btn-primary{
    background-color: #7DC24F;
}

h1{
    font-size: 44px;
    line-height: 44px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    margin-bottom: 17px;
    color: #222222;
}

table thead tr th{
    background-color: #7DC24F;
}

.table-bordered th, .table-bordered td{
    border: 1px solid #7DC24F;
}

form label{
    color: #777777;
    font-weight: bold;
}

form input[type='text'], form input[type='email'], form input[type='password']{
    background-color: #EDEDED;
}